<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
	<head>
		<title>Recipes recommendation</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<p>Data from API: <%= JSON.stringify(data) %></p>
	</body>
</html>
